@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}
.font-Quicksand {
  font-family: "Quicksand", sans-serif; /* Fallback font */
  /* You can adjust other font properties here */
}
