@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
.font-Montserrat {
  font-family: "Montserrat", sans-serif; /* Fallback font */
  /* You can adjust other font properties here */
}
