@font-face {
    font-family: 'Poiret One';
    src: url('./assets/Poiret_One/PoiretOne-Regular.ttf') format('truetype');
}
.font-poiret {
    font-family: 'Poiret One', sans-serif; /* Fallback font */
    /* You can adjust other font properties here */
}
.cool-link {
    display: inline-block;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #9EC8B9;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}