.projectSection {
  margin-top: 4rem;
  background-color: rgb(33, 33, 61);
}

.projectTitle {
  color: #e84949;
  font-size: 90px;
  line-height: 75px;
  padding: 50px 0 30px;
  text-align: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 120px;
  /* width: 100%; */
}

#project1 {
  background-image: url(./Images/projects/Project1.png);
  right: 5%;
}

#project2 {
  background-image: url(./Images/projects/Project2.png);
  left: 5%;
}

#project3 {
  background-image: url(./Images/projects/Project3.png);
  right: 5%;
}

#project4 {
  background-image: url(./Images/projects/Project4.png);
  left: 5%;
}

.projectCard {
  /* width: 80%; */
  /* height: 550px; */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  margin: 2rem auto;
  z-index: 2;
  border-radius: 0.75rem;
}

.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 0.75rem;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  z-index: 1;
  transition: 0.5s all;
  transform-origin: left;
  transform: scaleX(0);
}

.projectCard:hover::before {
  transform: scaleX(1);
}

.projectNumber {
  position: absolute;
  font-weight: 600;
  color: #fff;
  display: none;
  z-index: 10;
  transition: 0.8s;
}

.rightNumber {
  top: -45px;
  right: -45px;
}

.leftNumber {
  top: -45px;
  left: -45px;
}

.projectCard:hover .projectNumber {
  display: block;
}

.projectCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}

.projectContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding: 2em;
  bottom: 20%;
  position: absolute;
  z-index: 5;
  transition: all 0.4s;
}

.leftProjectContent {
  left: 5%;
}

.rightProjectContent {
  right: 5%;
}

.projectSkillsContainer {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1em;
}

.projectSkill {
  width: 40px;
}
.projectHeading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.projectSubHeading {
  font-size: 16px;
  font-style: italic;
  width: 70%;
}

.projectCard:hover .projectContent {
  transform: scale(1.1);
}

.btnGroup {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.btnGroup .btnProject {
  border: none;
  outline: none;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}

.icon:hover {
  color: #e84949;
}
